.fundoLogin {
    background-image: url(../../assets/Portal.gif);
    background-color: #1E1D39;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  form {
    background-color: #1E1D39; /* Mesma cor que a cor de fundo da .fundoLogin */
  }
  .bg-container {
    background-color: #1E1D39;
  }
  